.danger {
    border-color: red;
    color: red;
}

.dimmed {
    background-color: #f2f3f3;
}

.space-x > * + * {
    margin-left: 0.25rem;
}

.line-through {
    text-decoration-line: line-through;
}
